.title{
    text-align: center;
}
.img-main{
    text-align: center;
}
.img-steps{
    text-align: center;
}
.aitem{
	float: left;
	margin: 5px;
}
h3{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
}
h1{
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
div{
    white-space: pre-line;
}
p{
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}