<div class="ui-g-1 ui-md-2 ui-lg-3"></div>
<div class="ui-g-10 ui-md-8 ui-lg-6" *ngIf="product as prod">
  <p-breadcrumb [model]="items"></p-breadcrumb>
  <div class="ui-lg-12">
    <div class="title">
    <h1>{{prod.sname}}</h1>
  </div>
  </div>
  <div class="ui-lg-12 img-main">
      <app-gallery [images]="prod.gallery"></app-gallery>
  </div>
  <div class="ui-lg-12"><p>{{description}}</p></div>
  <div class="ui-lg-12" *ngFor="let tx of txt">
      <div *ngIf="tx.value.includes('assets'); then showImage else showText"></div>
      <ng-template #showImage>
        <div class="ui-lg-12 img-steps"><img class="img-steps" src="{{tx.value}}"></div>
      </ng-template>
      <ng-template #showText>
          <div class="ui-lg-12"><p>{{tx.value}}</p></div>
      </ng-template>
  </div>
</div>
<div class="ui-g-1 ui-md-2 ui-lg-3"></div>
