.img-steps{
    text-align: center;
    width:auto;
    max-height: 300px;
    border-radius: 20%;
}

h3{
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 23px;
}
h1{
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 36px;
}

p{
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
