<div class="level">
  <div class="level-item has-text-centered">
    <h1>Реальные проекты и подробные инструкции для их производства</h1>
  </div>
</div>  
<div class="level">
    <div class="level-item"></div>
    <div class="level-item">
      <img src="assets/hello/andrey.png" class="img-steps" alt="Егоров Андрей">
    </div>
    <div class="level-item">
      <img src="assets/hello/yuri.png" class="img-steps" alt="Зубрицкий Юрий">
    </div>
    <div class="level-item"></div>
</div>

<div class="level">
  <div class="level-item has-text-centered">
    <h3>
      <p>Приветствуем! Нас зовут Андрей и Юра.<br> Мы инженеры с высшим техническим образованием.</p>
    </h3>
  </div>
</div>
<div class="level">
  <div class="level-item has-text-centered">
    <h3>
      <p>На основной работе большую часть времени проводим за компьютером,<br> а в свободное время мастерим полезные вещи из дерева.</p>
    </h3>
  </div>
</div>
<div class="level is-mobile">
  <div class="level-item has-text-centered">
    <h3>
      <p>На этом сайте мы выкладывает наши реализованные успешные проекты.<br>
         Каждый проект включает список необходимых материалов и инструментов,<br>
          чертежи, шаги по изготовлению и сборке.</p>
    </h3>
  </div>
</div>




<!-- <div class="ui-g-12 wrapper">
  <div class="ui-g-12 title">
    <h1>Реальные проекты и подробные инструкции для их производства</h1>
  </div>  
  <div class="ui-g-2 ui-md-2 ui-lg-3"> </div>
  <div class="ui-g-8 ui-md-4 ui-lg-3">
    <img src="assets/hello/andrey.png" class="img-steps" alt="Егоров Андрей">
  </div>
  <div class="ui-g-8 ui-md-4 ui-lg-3">
    <img src="assets/hello/yuri.png" class="img-steps" alt="Зубрицкий Юрий">
  </div>
  <div class="ui-g-2 ui-md-2 ui-lg-3"> </div>
  <div class="ui-g-12 title">
      <h3>
        <p>Приветствуем! Нас зовут Андрей и Юра. Мы инженеры с высшим техническим образованием.</p>
        <p>На основной работе большую часть времени проводим за компьютером, а в свободное время мастерим полезные вещи из дерева.</p>
        <p>На этом сайте мы выкладывает наши реализованные успешные проекты. Каждый проект включает список необходимых материалов и инструментов, чертежи, шаги по изготовлению и сборке.</p>
      </h3>
    </div>
</div> -->